/*.text-muted
{
	color: #008000;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th 
{
  background-color: #008000;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td 
{
  padding: 10px;
}

.input-lg,
.form-horizontal .form-group-lg .form-control
{
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.center-block
{
	background-color: #ccc;
	width: 200px
}

.navbar-default .navbar-link:hover {
  color: #008000;
}*/

body
{
	padding-top: 0px;
	padding-bottom: 0px;
}

a
{
  text-decoration: none;

}

a {
  /*color: #648880;*/
  text-decoration: none;
}
a:hover {
  
  text-decoration: none;
}


.pull-center {
  text-align: center;

}



.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}

.navbar-default {
  /*background-color: #f8f8f8;*/
  background-color: #ffffff;
  border-color: #e7e7e7;
}
/*.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 60px;

}

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}*/

.img-circle {
  border-radius: 50%;
  
  /*border: 1px solid transparent;*/
  
}


/*.btn-lg,
.btn-group-lg > .btn {
  padding: 20px 26px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 16px;
}*/

/*.btn {
  display: block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 14px;
}*/




.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}


.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: #ddd;
  border-radius: 50%;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.media-object
{
  width: 150px;
  height:150px;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
  
}

.media,
.media-body {

  overflow: hidden;
  zoom: 1;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
}


.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  /*background-color: #000000;*/
}

.fa-facebook-square:before {
  content: "\f082";
}

